body {
    background-color: rgb(18, 129, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.budget, .addBudget {
    color: rgb(253, 187, 63);
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px dashed white;
    margin: 1rem;
}

.budget p {
    margin: 1rem 0;
}

.budget span {
    color: white;
    font-weight: 800;
}

h1 {
    font-size: 4rem;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 1rem;
    visibility: hidden;
}

#showItems, #addBudget {
    border: none;
    text-transform: uppercase;
    background-color: rgb(253, 211, 133);
    border-radius: 8px;  
    color: rgb(230, 108, 8);
    font-weight: 800;
    box-shadow: 1px 2px 10px 2px rgb(230, 108, 8);
}

#showItems:hover, #addBudget:hover {
    background-color: rgb(248, 187, 74);;
}

#showItems {
    position: absolute;
    left: 42vw;
    top: 50vh;
    width: 12rem;
    padding: 2rem;
    font-size: 1rem;
}

#addBudget, #budgetValue {
    width: 8rem;
    height: 3.18rem;
    padding: 1rem;
    margin: 1rem 0;
}

#addBudget {
    font-size: 0.8rem;
}

#budgetValue {
    border-radius: 8px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 129, 77);
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border: 3px dotted rgb(230, 108, 8);
    border-radius: 5px;
    background-color: rgb(248, 187, 74);
    padding: 1rem;
    position: relative;
}

.card h4 {
    color: rgb(18, 129, 77);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
}

.card p {
    font-size: 1.5rem;
    color: rgb(230, 108, 8);
    font-weight: 800;
    margin-bottom: 2rem;
}

.card img {
    width: 50%;
    margin: 1rem auto;
}

.buyBtn {
    width: 6rem;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background-color: rgb(26, 179, 107);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    box-shadow: 1px 2px 10px 2px rgb(18, 118, 71);
}

.buyBtn:hover {
    background-color: rgb(18, 129, 77);
}



